.main-footer {
    color: white;
    background-color: #dc3545;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
.Lfooter{
    border-color: black;
    border-style: solid;
  margin-top: 650px;
}
.btncolor{
   width: 150px;
   background-color: rgb(148, 51, 238);
   border-color: rgb(148, 51, 238);
   color: aliceblue;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
   font-weight:lighter;
   letter-spacing: 3px;
   border-radius: 8px;
}