.exp{
    margin-left:45px;
}
.Ecard{
    width: 750px;
    height: 190px;
    margin-left: 47px;
    box-shadow:0 4px 8px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.EheadF{
    position: absolute;
    top:1395px;
    left:160px;
    font-size: 26px;

}
.Esubhead{
    position: absolute;
    top:1435px;
    left:160px;
    color: black;
    font-Size:23px;
    font-weight:lighter;
}
.Eyear{
    position: absolute;
    top:1480px;
    left: 159px;
    color: grey;
    font-size: 20px;
}
.Elocation{
    position: absolute;
    top:1520px;
    left: 159px;
    color: grey;
    font-size: 20px;
}